/* Navbar */
nav {
    position: fixed;
    background-color: white;
    /* background-color: #38B6FF; */
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    display: flex;
}

nav ul {
    padding: .3rem 0;
    width: 100vw;
    border-radius: #38B6FF;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1rem 5rem 1rem 0;
}

ul li {
    list-style: none;
    margin-left: 3rem;
}

li a {
    text-decoration: none;
    font-weight: bold;
    light-height: 1.6;
    font-size: 1em;
    color: #38B6FF;
    /* position: relative; */
}

.logo {
    height: 3rem;
}

.nav-li:after {
    content: '';
    display: block;
    margin-left: -10%;
    height: .1rem;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
  
.nav-li:hover:after {
    width: 120%;
    background: #38B6FF;
}

#Web-Logo:first-child {
    margin-right: auto;
    margin-left: 4rem;
}
/* Home */
.logo{
    text-align: center;
    padding-top: 10%;
    margin-left: 60%;
    color: white;
    font-weight: bold;
}
.saviestance{
    color: white;
    padding-top: 5%;
    margin-left: 20%;
    text-align: center;
    justify-content: left;
    font-weight: bold;
    font-family: "Poppins";
}
/* About */
.about{
    text-align: center;
    margin-top: 2%;
}
/* Responsive */
@media only screen and (max-width: 600px) {
    ul li {
        margin-left: 1rem;
    }
}