
/* Navbar */
nav {
    position: fixed;
    background-color: white;
    /* background-color: #38B6FF; */
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    display: flex;
}
nav ul {
    padding: .3rem 0;
    width: 100vw;
    border-radius: #38B6FF;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1rem 5rem 1rem 0;
}

ul li {
    list-style: none;
    margin-left: 2rem;
}

li a {
    text-decoration: none;
    font-weight: bold;
    light-height: 1.6;
    font-size: 1.2em;
    color: #38B6FF;
    /* position: relative; */
}

.logo {
    height: 3rem;
}

.nav-li:after {
    content: '';
    display: block;
    margin-left: -10%;
    height: .1rem;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
  
.nav-li:hover:after {
    width: 120%;
    background: #38B6FF;
}

#Web-Logo:first-child {
    margin-right: auto;
    margin-left: 4rem;
}

/* Home */
.home{
    padding-bottom: 5%;
}
.logo{
    text-align: center;
    padding-top: 10%;
    margin-left: 70%;
    color: white;
    font-weight: bold;
}
.saviestance{
    color: black;
    padding-top: 5%;
    margin-left: 5%;
    text-align: left;
    justify-content: left;
}
.download{
    color: white;
    padding-top: 5%;
    margin-left: 5%;
    text-align: left;
    justify-content: left;
}

/* About */
.judulabout{
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    margin-top: 6%;
}

/* Team */
.member{
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    padding-top: 7%;
}
.name{
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
}
.jabatan{
    font-size: 1.3em;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 15px; 
    background: #38B6FF; 
    color: white;
    width:80%; 
    height: 7%;
    margin-left: 10%;
    padding-top: 8px;
    box-shadow: 2px 2px 2px 2px grey
}
.tugas{
    font-size: 1.1em;
    text-align: justify;
    font-weight: lighter;
}
.tugasraul{
    font-size: 1.1em;
    text-align: justify;
    font-weight: lighter;
    padding-bottom: 27px;
}
.linkedin{
    margin-left: 35%;
    font-size: 20px;
}
.github{
    margin-left: 5%;
    font-size: 20px;
    color: black;
}
.instagram{
    margin-left: 5%;
    font-size: 20px;
    color: red;
}


/* Contact */
.contact{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
/* Footer */
.footer{
    background-color: #38B6FF;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}
/* Responsive Navbar*/
@media only screen and (max-width: 600px) {
    ul li {
        margin-left: 1rem;
    }
}