
/* Navbar */
nav {
    position: fixed;
    background-color: white;
    /* background-color: #38B6FF; */
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    display: flex;
}
nav ul {
    padding: .3rem 0;
    width: 100vw;
    border-radius: #38B6FF;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1rem 5rem 1rem 0;
}

ul li {
    list-style: none;
    margin-left: 2rem;
}

li a {
    text-decoration: none;
    font-weight: bold;
    light-height: 1.6;
    font-size: 1.2em;
    color: #38B6FF;
    /* position: relative; */
}

.logo {
    height: 3rem;
}

.nav-li:after {
    content: '';
    display: block;
    margin-left: -10%;
    height: .1rem;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
  
.nav-li:hover:after {
    width: 120%;
    background: #38B6FF;
}

#Web-Logo:first-child {
    margin-right: auto;
    margin-left: 4rem;
}

/* Home */
.home{
    padding-bottom: 5%;
}
.logo{
    text-align: center;
    padding-top: 10%;
    margin-left: 70%;
    color: white;
    font-weight: bold;
}
.saviestance{
    color: black;
    padding-top: 5%;
    margin-left: 5%;
    text-align: left;
    justify-content: left;
}
.download{
    color: white;
    padding-top: 5%;
    margin-left: 5%;
    text-align: left;
    justify-content: left;
}

/* About */
.judulabout{
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 6%;
}
/* Ahmed wkwk */
section#Prototipe{
    padding-top: 1vh;
}
section#Prototipe .prototipe-container{
    position: relative;
    padding: 10vh 10vw;
    padding-top: 5vh;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* border: 2px solid blue; */
    overflow: hidden;
}
.prototipe-container .prototipe-groupingbox{
    display: none;
    /* border: 2px solid red; */
}
.prototipe-container .prototipe-groupingbox.active{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: 2px solid red; */
}
.prototipe-groupingbox .prototipe-imgbox{
    position: relative;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    /* border: 2px solid green; */
}
.prototipe-imgbox>img{
    border-radius: 10px;
    width: 100%;
    box-shadow: 0px 0px 10px #38B6FF, -0px -0px 10px #38B6FF;
    transition: 0.3s ease;
    transition-property: transform;
}
.prototipe-imgbox>img:hover{
    transform: scale(1.05);
}
.prototipe-imgbox>h3{
    text-align: center;
    padding: 20px;
    font-size: 1em;
}
.prototipe-slider{
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
}
.prototipe-slider .slider-nav{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prototipe-slider .slider-nav .slider-nav-btn{
    width: 15px;
    height: 15px;
    background: #38B6FF;
    opacity: 0.5;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 2px 2px 5px #003757;
    transition: 0.3s ease;
}
.prototipe-slider .slider-nav .slider-nav-btn:not(:last-child){
    margin-right: 20px;
}
.prototipe-slider .slider-nav .slider-nav-btn:hover{
    transform: scale(1.2);
    opacity: 1.0;
}
.prototipe-slider .slider-nav .slider-nav-btn.active{
    background: #000;
    opacity: 1.0;
    transform: scale(1.5);
}
/* Team */
.member{
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    padding-top: 7%;
}
.name{
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
}
.jabatan{
    font-size: 1.3em;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    background: #38B6FF; 
    color: white;
    width:80%; 
    height: 7%;
    margin-left: 10%;
    padding-top: 8px;
}
.tugas{
    font-size: 1.1em;
    text-align: center;
    font-weight: lighter;
}
.tugasraul{
    font-size: 1.1em;
    text-align: center;
    font-weight: lighter;
    padding-bottom: 27px;
}
.linkedin{
    margin-left: 35%;
    font-size: 20px;
}
.github{
    margin-left: 5%;
    font-size: 20px;
    color: black;
}
.instagram{
    margin-left: 5%;
    font-size: 20px;
    color: red;
}


/* Contact */
.contact{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
/* Footer */
.footer{
    background-color: #38B6FF;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}
/* Responsive Navbar*/
@media only screen and (max-width: 600px) {
    ul li {
        margin-left: 1rem;
    }
}